@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body{
  background-image: url(./assets/bg-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.navigation{
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  height: 4rem;
}

.nav-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.nav-icon{
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
}

.nav-box a{
  color: #fff;
  text-decoration: none;
  font-size: 1.7rem;
}

.nav-box a:hover{
  color: #fff;
  text-decoration: none;
}

.nav-box a:visited{
  color: #fff;
  text-decoration: none;
}


.portrait{
  background-image: url(./assets/portrait-WB.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 3rem 0;
  width: 100%;
  height: 32rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.portrait-text{
  color: #fff;
  width: 70%;
  font-size: 1.6rem;
  margin-left: 2rem;  
  opacity: 0.8;
}

.portrait-space{
  width: 100%;
}

.title-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.servicio-element{
  width: 50%;
  background-color: #fff;
  height: 5px;
}

.servicio-text{
  margin: 0 1rem;
  color: #fff;
}

.services-mosaic{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}

.service {
  background-image: url(./assets/card-2-W.png);
  width: 25rem;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  position: relative;
}

.service:hover {
  transition: 0.5s ease all;
  transform: scale(1.1);
  border-radius: 0 0 5rem 5rem;
}

.iconbox{
  width: 6rem;
  height: 6rem;
}

.service-iconbox {
  border-radius: 100%;
  border: 3px solid #fff;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.service:hover .service-iconbox {
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 0.9s ease all;
}

.icon-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.service-text {
  font-size: 1rem;
  opacity: 0;
  display: none;
  margin: 5px 0;
}

.service:hover .service-text {
  transition: 0.9s ease all;
  opacity: 1;
  display: flex;
}

.alianzas-box{
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.alianzas-text{
  width: 30rem;
  text-align: center;
}

.alianzas-icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin: 3rem 0;
}

.alianzas-icon-box{
  width: 20rem;
  height: 20rem;
  border: 3px solid #fff;
  border-radius: 5%;
  background-color: #ffffff70;
}

.nosotros-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 5rem 0;
}

.stat-mosaic-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.stat-mosaic{
  width: 12rem;
  height: 12rem;
  border: 1px solid #fff;
  border-radius: 2%;
  margin: .5rem;
  background-image: url(./assets/Mosaic2.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stat-mosaic-icon{
  width: 4rem;
  height: 4rem;
}

.stat-mosaic-title{
  font-size: 1rem;
}

.stat-mosaic-value{
  font-size: 1.5rem;
  color: #006eff;
}

.nosotros-mosaic{
  width: 30rem;
  height: 25rem;
  border: 1px solid #fff;
  border-radius: 2%;
  margin: .5rem;
  background-image: url(./assets/Mosaic2.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nosotros-mosaic-text{
  font-size: 1.1rem;
  width: 90%;
}

.nosotros-mosaic-text span{
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  font-weight: bold;
}

.contacto{
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.contacto-info{
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacto-title{
  font-size: 2.5rem;
  color: #006eff;
}

.contacto-text{
  width: 40rem;
  font-size: 1.1rem;
}

.contacto-img{
  margin-left: 10rem;
  height: 20rem;
  width: 15rem;
}

.contacto-social-icon{
  width: 3rem;
  height: 3rem;
  color: #fff;
}

.contacto-social-icon{
  color: #fff;
}


.ubicacion{
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.ubicacion-info{
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ubicacion-title{
  font-size: 2.5rem;
  color: #006eff;
}

.ubicacion-text{
  width: 35rem;
  font-size: 1.1rem;
}

.ubicacion-img{
  margin-right: 8rem;
  height: 20rem;
  width: 24rem;
}

.queesperar{
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.queesperar-info{
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.queesperar-title{
  font-size: 2.5rem;
  color: #006eff;
}

.queesperar-text{
  width: 35rem;
  font-size: 1.1rem;
}

.queesperar-img{
  margin-left: 8rem;
  height: 20rem;
  width: 20rem;
}


.footer{
  background-color: #212121;
  height: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; 
}

.footer-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 50%;
  margin-left: 2rem;
}

.footer-icon-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-icon{
  width: 2rem;
  height: 2rem;
}

.powered{
  margin-right: 1rem;
}

@media only screen and (min-width: 1128px) and (max-width: 1400px) {

  .service {
    width: 20rem;
    height: 30rem;
  }

  .service-text {
    display: flex;
    opacity: 1;
  }

  .alianzas-icon-box{
    width: 15rem;
    height: 15rem;
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1127px) {

  .nav-box a{
    font-size: 1.4rem;
  }

  .portrait-text{
    width: 100%;
    font-size: 1.4rem;
  }

  .service {
    width: 15rem;
    height: 25rem;
  }

  .service-text {
    display: flex;
    opacity: 1;
  }

  .alianzas-icon-box{
    width: 10rem;
    height: 10rem;
  }

  .iconbox{
    width: 4rem;
    height: 4rem;
  }
  
  .service-iconbox {
    width: 8rem;
    height: 8rem;
  }
  
  .service-text {
    font-size: .8rem;
  }

  .contacto-info{
    height: 10rem;
  }
  
  .contacto-title{
    font-size: 2.2rem;
  }
  
  .contacto-text{
    width: 30rem;
    font-size: 1rem;
  }
  
  .contacto-img{
    margin-left: 6rem;
    height: 15rem;
    width: 10rem;
  }
  
  .ubicacion-info{
    height: 10rem;
  }
  
  .ubicacion-title{
    font-size: 2.2rem;
  }
  
  .ubicacion-text{
    width: 30rem;
    font-size: 1rem;
  }
  
  .ubicacion-img{
    margin-right: 6rem;
    height: 15rem;
    width: 19rem;
  }
  
  .queesperar-info{
    height: 10rem;
  }
  
  .queesperar-title{
    font-size: 2.2rem;
  }
  
  .queesperar-text{
    width: 30rem;
    font-size: 1rem;
  }
  
  .queesperar-img{
    margin-left: 6rem;
    height: 15rem;
    width: 15rem;
  }
  
  .footer{
    width: 100vw;
  }
  
  .footer-info{
    width: 70%;
  }
  
  .powered{
    font-size: .8rem;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-box a{
    font-size: 1.4rem;
  }

  .portrait{
    height: 20rem;
  }

  .portrait-text{
    width: 140%;
    font-size: 1.1rem;
  }

  .service {
    width: 13.5rem;
    height: 22rem;
  }

  .service-text {
    display: flex;
    opacity: 1;
  }

  .alianzas-icon-box{
    width: 10rem;
    height: 10rem;
  }

  .iconbox{
    width: 4rem;
    height: 4rem;
  }
  
  .service-iconbox {
    width: 8rem;
    height: 8rem;
  }
  
  .service-text {
    font-size: .8rem;
  }

  .contacto-info{
    height: 8rem;
  }
  
  .contacto-title{
    font-size: 2rem;
  }
  
  .contacto-text{
    width: 25rem;
    font-size: 1rem;
  }
  
  .contacto-img{
    margin-left: 4rem;
    height: 12rem;
    width: 9rem;
  }
  
  .ubicacion-info{
    height: 7rem;
  }
  
  .ubicacion-title{
    font-size: 2rem;
  }
  
  .ubicacion-text{
    width: 25rem;
    font-size: 1rem;
  }
  
  .ubicacion-img{
    margin-right: 4rem;
    height: 13rem;
    width: 16rem;
  }
  
  .queesperar-info{
    height: 7rem;
  }
  
  .queesperar-title{
    font-size: 2rem;
  }
  
  .queesperar-text{
    width: 25rem;
    font-size: 1rem;
  }
  
  .queesperar-img{
    margin-left: 4rem;
    height: 12rem;
    width: 12rem;
  }
  
  .footer{
    width: 100vw;
  }

  .footer-info{
    width: 75%;
  }
  
  .powered{
    font-size: .8rem;
  }

  .footer-title{
    font-size: 1rem;
  }

  .footer-icon-text{
    font-size: 0.8rem;
  }

  .footer-info{
    gap: 1rem;
    justify-content: start;
  }

  .nosotros-mosaic{
    width: 25rem;
    height: 30rem;
  }
  
  .nosotros-mosaic-text{
    font-size: 1rem;
  }

  .stat-mosaic{
    width: 10rem;
    height: 14.5rem;
  }
  
  .stat-mosaic-value{
    font-size: 2rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 720px) {
  .nav-box a{
    font-size: 1.4rem;
  }

  .portrait{
    height: 20rem;
  }

  .portrait-text{
    width: 140%;
    font-size: 1.1rem;
  }

  .service {
    width: 12rem;
    height: 25rem;
  }

  .service-text {
    display: flex;
    opacity: 1;
  }

  .alianzas-icon-box{
    width: 8rem;
    height: 8rem;
  }

  .iconbox{
    width: 3rem;
    height: 3rem;
  }
  
  .service-iconbox {
    width: 6rem;
    height: 6rem;
  }
  
  .service-text {
    font-size: .8rem;
  }

  .contacto-info{
    height: 8rem;
  }
  
  .contacto-title{
    font-size: 2rem;
  }
  
  .contacto-text{
    width: 25rem;
    font-size: 1rem;
  }
  
  .contacto-img{
    margin-left: 4rem;
    height: 12rem;
    width: 9rem;
  }
  
  .ubicacion-info{
    height: 7rem;
  }
  
  .ubicacion-title{
    font-size: 2rem;
  }
  
  .ubicacion-text{
    width: 25rem;
    font-size: 1rem;
  }
  
  .ubicacion-img{
    margin-right: 4rem;
    height: 13rem;
    width: 16rem;
  }
  
  .queesperar-info{
    height: 7rem;
  }
  
  .queesperar-title{
    font-size: 2rem;
  }
  
  .queesperar-text{
    width: 25rem;
    font-size: 1rem;
  }
  
  .queesperar-img{
    margin-left: 4rem;
    height: 12rem;
    width: 12rem;
  }
  
  .footer{
    width: 100vw;
  }

  .footer-info{
    width: 75%;
  }
  
  .powered{
    font-size: .8rem;
  }

  .footer-title{
    font-size: 1rem;
  }

  .footer-icon-text{
    font-size: 0.8rem;
  }

  .footer-info{
    gap: 1rem;
    justify-content: start;
  }

  .nosotros-mosaic{
    width: 25rem;
    height: 30rem;
  }
  
  .nosotros-mosaic-text{
    font-size: 1rem;
  }

  .stat-mosaic{
    width: 10rem;
    height: 14.5rem;
  }
  
  .stat-mosaic-value{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 499px) {

  .nav-box{
    gap: .9rem;
  }

  .nav-box a{
    font-size: .9rem;
  }

  .nav-box a:last-child{
    width: 2rem;
  }

  .portrait{
    height: 15rem;
  }

  .portrait-text{
    width: 400%;
    font-size: .9rem;
  }

  .services-mosaic {
    flex-direction: column;
    gap: 1rem;
  }

  .service {
    width: 90vw;
    height: 20rem;
  }

  .service-text {
    display: flex;
    opacity: 1;
  }

  .alianzas-icon-box{
    width: 4.5rem;
    height: 4.5rem;
  }

  .iconbox{
    width: 3rem;
    height: 3rem;
  }
  
  .service-iconbox {
    width: 6rem;
    height: 6rem;
  }
  
  .service-text {
    font-size: .8rem;
  }

  .contacto-info{
    height: 8rem;
  }
  
  .contacto-title{
    font-size: 1.5rem;
  }
  
  .contacto-text{
    width: 20rem;
    font-size: 1rem;
    margin-bottom: 5rem;
  }
  
  .contacto-img{
    display: none;
  }
  
  .ubicacion-info{
    height: 5rem;
  }
  
  .ubicacion-title{
    font-size: 1.5rem;
  }
  
  .ubicacion-text{
    width: 20rem;
    font-size: 1rem;
    margin-bottom: 5rem;
  }
  
  .ubicacion-img{
    display: none;
  }
  
  .queesperar-info{
    height: 5rem;
  }
  
  .queesperar-title{
    font-size: 1.5rem;
  }
  
  .queesperar-text{
    width: 20rem;
    font-size: 1rem;
    margin-bottom: 5rem;
  }
  
  .queesperar-img{
    display: none;
  }
  
  .footer{
    width: 100vw;
  }

  .footer-info{
    width: 200%;
  }
  
  .powered{
    font-size: .8rem;
  }

  .footer-title{
    font-size: .5rem;
  }

  .footer-icon-text{
    font-size: 0.8rem;
  }

  .footer-info{
    gap: .5rem;
    margin-left: .1rem;
    justify-content: start;
  }

  .footer-icon{
    width: .9rem;
    height: .9rem;
  }

  .footer-icon-text{
    font-size: .5rem;
  }

  .footer-icon-box{
    gap: .5rem;
  }

  .nosotros-mosaic{
    width: 80vw;
    height: 30rem;
  }
  
  .nosotros-mosaic-text{
    font-size: 1rem;
  }

  .stat-mosaic{
    width: 80vw;
    height: 14.5rem;
  }
  
  .stat-mosaic-title{
    font-size: 2rem;
  }

  .stat-mosaic-value{
    font-size: 3.5rem;
  }

  .stat-mosaic-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nosotros-box{
    flex-direction: column;
  }

  .alianzas-text{
    width: 20rem;
    text-align: center;
  }

  .nav-icon{
    width: 2rem;
    height: 2rem;
    margin-left: .5rem;
  }

  .contacto-info{
    margin: 4rem 0;
    flex-direction: column;
  }

  .contacto-text{
    margin-bottom: 0;
  }

  .queesperar-info{
    margin-top: 4rem;
    flex-direction: column;
  }

  .ubicacion-info{
    margin: 4rem 0;
    flex-direction: column;
  }
}